name: Publish to NPM
on:
  push:
      branches:
        - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    # Setup .npmrc file to publish to npm
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
        registry-url: 'https://registry.npmjs.org'
    - run: yarn
    - run: yarn workspace express-fs-router publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}